<div class="h-100 container-fluid">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <%= render "sidebar" %>

    <div class="col col-xl-11 min-vh-100">
      <h1 class="text-light py-5">To do list</h1>
      
      <ul class="list-unstyled list-group">
        <% @todos.each do |todo| %>
          <div class="card mb-2 bg-dark-blue">
            <div class="card-body">
              <div class="row">
                <div class="col-md-10 text-light">
                  <%= todo.content %>
                </div>

                <div class="col-md-2 d-flex align-items-center">
                  <a href="/todos/<%= todo.id %>/edit" class="mx-2">
                    <i class="fa-solid fa-pen-to-square fa-2x"></i>
                  </a>

                  <%= button_to "Delete",
                                todo_path(todo),
                                method: :delete,
                                class: "btn btn-danger mx-2" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>