<h1>To do list</h1>

<ul>
  <% @todos.each do |todo| %>
    <li>
      <a href="/todos/<%= todo.id %>/edit">
        <%= todo.content %>
      </a>
    </li>
    <li>
      <%= button_to "Delete",
                  todo_path(todo),
                  method: :delete,
                  class: "btn btn--light" %>
    </li>
  <% end %>
</ul>